

<div class="row">
  <div id="Header"   class="col-12">
    <div id="iconHome"  >
  
      <H7>WELCOME TO WRR</H7> <i  class="fa-solid fa-arrow-right"></i>
    
    
    </div>
    <div id="user" >
      <h7>Dan1512003</h7>
    
      <button class="buttonup" ><i id="up" class="fa-solid fa-angle-up" > </i>
        <i id="down" class="fa-solid fa-angle-down"></i>
          <nav class="navSigninAndSignout">
              <ul class="ulSigninAndSignout">
                  <li  class="liSigninAndSignout"><a href="http://localhost:3000/analysis">Going to fontend</a> </li>
               
                  <li class="liSigninAndSignout"><a href="/todos/signin">Sign out</a></li>
              </ul>
      
          </nav>
          
          
      
      </button> 
    
    </div>



  </div>

     
  
  
  
</div>


