<div  id="navbar" class="row">
    <div id="iconDashBoard" class="col-12">
       <i class="fa-solid fa-house"></i><h8>Dashboard</h8> 
    </div>
<div id="navCate" class="col-12">
    <nav >
        <ul class="ulCate">
            <li class="liCate"><a class="aCate" href="/todos/getcountry" >Province</a></li>
            <li class="liCate"><a class="aCate" href="/todos/getuser" >User</a></li>
            <li class="liCate"><a class="aCate" href="/todos/gettypedisaster">Disaster Type</a></li>
         
    
         <buton  id="buttonPage">
            <li  class="liCate" >
                <h8> Page </h8>
                <i  id ="rightLiCate"  class="fa-solid fa-angle-right"></i>
                <i id="downLiCate" class="fa-solid fa-angle-down"></i>
            </li>
    
         </buton>   
            <ul class="ulChildPage">
                <li class="liChildPage" >
                   <a class="aCate" href="/todos/getnew">New</a>
                </li>
                <li class="liChildPage" >
                   <a class="aCate" href="/todos/getnewdisaster" >Disaster</a> 
                </li>
            </ul>
            
        </ul>
    </nav>
</div>
        
       


</div>
