.headerSearch{
    border-bottom: 1px solid red;
}
.main{
display: grid;
grid-template-columns: 2fr 8fr 2fr;
}
.headerCardNews{

    flex-direction: row;
    
     }
    
    .titleHeaderCardNews{
    margin-left: 5px;
    
    }
    .countryCardNews{
       display: inline;
       background-color: #E6ECEF;
    }
    
    .titleCardNews{
       display: inline;
     color: #055372;
      margin-left: 3px;
    }
     
    .mainCardNews{
       display: flex;
       margin-top: 10px;
    }
    .imgHeaderCardNews{
       height: 75px;
       width: 65px;
       background-color: red;
    }
    .descHeaderCardNews{
       display: inline;
       overflow: hidden;
       max-width: 100%;
       height: 55px;
       margin-left: 20px;
    }
    .ulFooterCardNews{
        @media (max-width: 500px) {
            display: block;
             padding: 0px;
             margin: 0px;
             }
        
             @media (min-width: 500px) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap:10px;
                padding: 0px;
                margin: 0px;
                }
      
    }
    .liFooterCardNews{
        display: flex;
     
     
       
    }
    .footerCardNews{
       display: flex;
       padding: 0;
       margin: 0;
    }
    .cardNews{
       border-top: 1px solid#F3F5F7 ;
    }
    .mainCarDisater{
        display: flex;
        margin-top: 10px;
      
        align-items: center;
     }
     .imgHeaderCardDisaster{
        height: 30px;
        width: 30px;
        background-color: red;
     }
     .descHeaderCardDisater{
        
        overflow: hidden;
        max-width: 100%;
        height: 20px;
    
       
     }
     .ulFooterCarDisaster{
        @media (max-width: 500px) {
            display: block;
             padding: 0px;
             margin: 0px;
             }
        
             @media (min-width: 500px) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap:10px;
                padding: 0px;
                margin: 0px;
                }
       
     }
     .liFooterDisaster{
        @media (max-width: 600px) {
            display: flex;
            flex-wrap:wrap ;
            align-items: center;
            }
       
            @media (min-width: 600px) {
               display: flex;
               justify-content: center;
               align-items: center;
               }
        
     }
     .footerCardDisater{
        display: flex;
        padding: 0;
        margin: 0;
     }
     .cardDisater{
        border-top: 1px solid#F3F5F7 ;
     }
     .statusOngoinCarDisaster{
        border-radius: 50%;
     background-color: red;
     width: 10px;
     height: 10px;
  
     }
     .statusAlertCardNews{
  
        border-radius: 50%;
        background-color: yellow;
        width: 10px;
        height: 10px;
  
     }
     .statusCardNews{
        margin-left: 3px;
     }
  